*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

#logo{
    position: fixed;
    left: 50px;
    top: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
}

header{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    max-height: 100px;
    width: 100%;
}

header nav{
    margin-right: 15px;
    height: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

header nav a:hover{
    color: rgb(151, 151, 151);
}

header nav a:active{
    color: rgb(255, 255, 255);
}

